.menu {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  position: sticky;
  top: 65px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.menu__items {
  width: 80px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--gray);
  font-weight: 700;
}

.menu__items img {
  height: 25px;
  width: 25px;
  opacity: 0.7;
}

.menu__items span {
  font-size: 12px;
}

.menu__btn {
  width: 28px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}

.menu__filter {
  width: 82px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px;
}
